<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Box Email</title>
    <style>
        table {
            margin: 20px 0;
        }

        label {
            font-weight: bold;
        }

        td {
            padding: 10px;
        }

        .button-container {
            margin-top: 20px;
        }

        .button-container button {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>

<h1>Settings</h1>

    <table th:object="${box}">
        <tr>
            <td><label for="languages">Languages</label></td>
            <td th:text= "*{languages}">
                <select id="languages" th:text="*{languages}">
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="pageSize">Page Size:</label></td>
            <td th:text="*{pageSize}">
                Show <select  id="pageSize" th:text="*{pageSize}">
            </select>
                emails per page
            </td>
        </tr>
        <tr>
            <td><label for="spamFilter">Spams filter:</label></td>
            <td th:text="*{spamsFilter}" >
                <input type="checkbox" id="spamFilter" th:text="*{spamsFilter}" />
                Enable spams filter
            </td>
        </tr>
        <tr>
            <td><label for="signature">Signature:</label></td>
            <td th:text="*{signature}">
                <textarea id="signature" th:text="*{signature}" rows="4" cols="30"></textarea>
            </td>
        </tr>
    </table>

    <div class="button-container">
    <button><a href="/box/email">Update</a></button>
    </div>

</body>
</html>
